{:datomic-url "datomic:mem://galleon-test"
 :attache {:endpoints [:moodle :show-evidence]
           :subscriptions
           [[:show-evidence :event.type/traveler.user "http://somesite.come/api/user"]]}}
